<!DOCTYPE html>
<html>  
<body>
    <link rel="stylesheet" type="text/css" href="signup.css"> 
    <header>
        <nav><h2>North South University</h2></nav>
    </header>
    <p>You must signup to login.</p>
    
<div id= divone>
        <form>
            
            <br>
                <lebel>Name</lebel>
                <input class="input" type = text>
                <br><br>
                <lebel>Email</lebel>
                <input class="input" type = text><br><br>
                <lebel>Phone Number</lebel>
                <input class="input" type = text><br><br>
            
                <lebel>Department</lebel>
                <input class="input" type = text><br><br>
            
                <lebel>Email</lebel>
                <input class="input" type = text><br><br>
                
                <lebel>password</lebel>
                <input class="input" type = password><br><br>
            
                <div id = innerdiv><lebel>forgot password?</lebel>
                <button id= submitbutton>submit</button>    
                
                </div>
            
            
        
        </form>
    
</div>
    
    </body>

</html>